$p-1:#f3d43d;
$p-2:#4b434f;
$p-3:#fff;
$p-4:#5b5b5b;
$p-5:#544522;
$p-6:#fafafa;
$p-7:#ebc403;
$p-8:#252525;

$l1-p4:mix($p-4,#fff,60%);

$font-base:ProximaNovaCond-RegularIt;
$font-sm:ProximaNovaCond-Semibold;
$font-eb:ProximaNovaCond-Extrabld;
$font-reg:SFUIText-Regular;
$font-eb2:ProximaNovaExCn-ExtrabldIt;