@font-face{
    font-family: ProximaNovaCond-RegularIt;
    src: url(../../fonts/ProximaNova/WOFF/ProximaNovaCond-RegularIt.woff);
}
@font-face{
    font-family: ProximaNovaCond-Semibold;
    src: url(../../fonts/ProximaNova/WOFF/ProximaNovaCond-Semibold.woff);
}
@font-face{
    font-family: ProximaNovaCond-Extrabld;
    src: url(../../fonts/ProximaNova/WOFF/ProximaNovaExCn-Extrabld.woff);
}
@font-face{
    font-family: ProximaNovaExCn-ExtrabldIt;
    src: url(../../fonts/ProximaNova/WOFF/ProximaNovaExCn-ExtrabldIt.woff);
}
@font-face{
    font-family: SFUIText-Regular;
    src: url(../../fonts/SFUIText/SFUIText-Regular.woff);
}