<div class="container">
    <div class="mainOne">
        <h1>Підбираємо <span>житло</span> під<br /> кожну особистість</h1>
        <p>Вибір власного житла- це один з найважливіших рішень у житті людини. Це не дивно, адже від вибору житла
            залежатиме комфорт і затишок<br /> проживання в певному середовищі кожної людини.<br />
            Саме тому перед придбанням нової квартири, потрібно обов'язково ретельно підійти до цього питання, щоб не
            помилитися і <br />
            зробити максимально правильний вибір квартири для свого подальшого життя.</p>
        <div class="col-xl-12 col-md-12 yellow_circle">
            <div class="col-xl-2 col-md-2 circle">
                <img src="../../../img/Apartment.png" alt="Apartment" />
            </div>
            <div class="col-xl-2 col-md-2  circle">
                <img src="../../../img/New house.png" alt="New houses" />
            </div>
            <div class="col-xl-2 col-md-2  circle">
                <img src="../../../img/House.png" alt="House" />
            </div>
            <div class="col-xl-2 col-md-2 circle">
                <img src="../../../img/Elite house.png" alt="Elite houses" />
            </div>
        </div>
        <div class="about">
            <div class="col-xl-3 col-md-3">
                <h3>Продаж квартир</h3>
                <p>Ми підберемо квартиру на будь-який смак в районі, який вас цікавить</p>
            </div>
            <div class="col-xl-3 col-md-3">
                <h3>Новобудови</h3>
                <p>Постійне оновлення ринку, тільки надійні забудовники</p>
            </div>
            <div class="col-xl-3 col-md-3">
                <h3>Житлові будинки</h3>
                <p>Окремий будинок - мрія кожної родини. Найкращі будинки на будь який смакю</p>
            </div>
            <div class="col-xl-3 col-md-3">
                <h3>Елітне житло</h3>
                <p>Підбір індивідуального житла для кожної особистості</p>
            </div>
        </div>
        <button class="button-more">Більше >></button>
    </div>
    <div class="col-12 mainTwo">
        <div class="offset-1 col-xl-5 col-md-5 photo">
            <div class="border"></div>
            <img src="../../../img/foto.png" alt="photo" />
        </div>
        <div class="col-xl-6 col-md-6 dropdown">
            <h2>Зробіть <span>Вибір</span></h2>
            <select id="town">
                <option value="Місто">Місто</option>
                <option value="rivne">Рівне</option>
                <option value="kyiv">Київ</option>
                <option value="lviv">Львів</option>
            </select>
            <select id="house_type">
                <option value="Тип житла">Тип житла</option>
                <option value="one">Одноповерхові будинки</option>
                <option value="two">Двоповерхові будинки</option>
                <option value="three">Мансардні будинки</option>
            </select>
            <select id="square_meter">
                <option value="Площа">Площа</option>
                <option value="one">&#60; 30 м&#178;</option>
                <option value="two">30 - 60 м&#178;</option>
                <option value="three">&#62; 60 м&#178;</option>
            </select>
            <select id="value">
                <option value="value">Вартість</option>
                <option value="one">&#60; 300 тис. грн.</option>
                <option value="two">300 - 600 тис. грн.</option>
                <option value="three">&#62; 600 тис. грн.</option>
            </select>
            <div class="offset-1">
                <button class="button-show">Показати все >></button>
                <button class="offset-1 button-ahead">Вперед >></button>
            </div>
        </div>
    </div>

    <div class="mainThree">
        <h2>Деякі наші <span>переваги</span></h2>
        <p>переконайтеся в тому, що ми найкращі, ряд переваг над нашими конкурентами:</p>
        <div class="advantages">
            <div class="col-xl-3 col-md-3 one">
                <img src="../img/1.png" alt="first advantage">
                <p>індивідуальний підхід</p>
            </div>
            <div class="offset-1 col-xl-3 col-md-3 two">
                <img src="../img/2.png" alt="second advantage">
                <p>найвищі стандарти</p>
            </div>
            <div class="offset-1 col-xl-3 col-md-3 three">
                <img src="../img/3.png" alt="third advantage">
                <p>юридична підтримка</p>
            </div>
            <div class="col-xl-3 col-md-3 four">
                <img src="../img/4.png" alt="fourth advantage">
                <p>гнучкий діапазон цін</p>
            </div>
            <div class="offset-1 col-xl-3 col-md-3 five">
                <img src="../img/5.png" alt="fifth advantage">
                <p>гарантія повернення коштів</p>
            </div>
            <div class="offset-1 col-xl-3 col-md-3 six">
                <img src="../img/24_7.png" alt="sixth advantage">
                <p>24/7 обслуговування замовників</p>
            </div>
        </div>
        <button class="button-more">Більше >></button>
    </div>
</div>

<div class="container-fluid Four">
    <div class="container mainFour">
        <h2>ми пропонуємо <br /> <span>житло таких рівнів</span></h2>
        <p>Ми допоможемо підібрати елітне житло різних рівнів на будь який смак для <br /> найвибагливіших замовників
        </p>
        <div class="house_level d-flex flex-wrap-wrap col-12">
            <div id="standart">
                <h3>STANDART</h3>
                <img src="../img/OBC81E0.png" alt="standart_home">
                <button>Підібрати</button>
            </div>
            <div id="luxory">
                <h3>LUXURY</h3>
                <img src="../img/luxury-homes-in-texas.png" alt="luxury_home">
                <button>Підібрати</button>
            </div>
            <div id="premium">
                <h3>PREMIUM</h3>
                <img src="../img/завантаження.png" alt="premium_home">
                <button>Підібрати</button>
            </div>
            </h2>
        </div>
    </div>

</div>
<div class="container">
    <h2>що говорять наші <span>щасливі клієнти</span></h2>
    <div class="quote_hr_div d-flex col-3">
        <div class="qoute_circle d-flex col-2">
            <p>,,</p>
        </div>
    </div>

    <div id="carousel d-flex col-12">
        <img src="../img/left_arrow.png" alt="left_arrow" id="carou_left">
        <div class="text_div">
            <p id="root"></p>
        </div>
        <img src="../img/right_arrow.png" alt="right_arrow" id="carou_right">
        <div class="text_div">
            <p class="text">Дуже вдячна компанії за підібране житло, за те , що прислухались до всіх моїх побажань.
                Найкраща цінова політика, ще й надали знижку при купівлі. 100% буду рекомендувати своїм друзям та
                знайомим. Дуже дякую.
                <br><span class="custom_name">Світлана Денисюк, Київ</span></p>
        </div>
        <div class="text_div">
            <p class="text">Best rieltor company in the world! I will recomend you to my friends in Holywood. Щиро
                дякую!
                <br><span class="custom_name">Angelina Jolie, LA</span></p>
        </div>
        <div class="text_div">
            <p class="text">Perfect! Just perfect! Thank you guys! Now I have the best appartments in NY
                <br><span class="custom_name">Ryan Gosling, New York</span></p>
        </div>
    </div>

    <div class="row col-12">
        <button class="button-more">Більше >></button>
    </div>
</div>