footer{
.menu-footer{
        background-color: $p-6;
        position: relative;
        z-index: 1;
        a{
            text-decoration: none;
            @include fonts(15px,$font-prox-reg,600,$p-3);
        }
        a:hover{
            @include fonts(15px,$font-prox-reg,600,$h-3);
        }
    }
    .d-flex{
        background-image: linear-gradient($p-2, $p-6), url('../img/footer.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 318px;
        background-position: center center;
        header{
            @include fonts(25px,$font-prox-reg,600,$p-3);
            .yellow{
                color: $p-1;
            }
        }
        main{
            @include fonts(14px,$font-prox-reg,600,$p-7);
            a{
                text-decoration: none;
                @include fonts(15px,$font-prox-reg,600,$p-3);
            }
            a:hover{
                @include fonts(15px,$font-prox-reg,600,$h-3);
            }
        }
    }
}