@mixin fonts($font-size,$font-family,$font-weight,$font-color){
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
    color: $font-color;
}
@mixin button($text-align,$background-color,$border-color,$border-radius,$cursor){
    text-align: $text-align;
    background-color: $background-color;
    border-color: $border-color;
    border-radius: $border-radius;
    cursor:$cursor;
}